.box {
  border: 1px solid red;
  width: 400px;
  height: 400px;
  margin: 100px;
  padding: 100px;
}

.heading {
  border: 1px solid #000;
  width: 300px;
  text-align: center;
  padding: 50px 100px 200px 300px;
}

.box2 {
  font-size: 50px;
  text-align: center;
  border: 10px solid red;
  width: 400px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
}

.box3 {
  border: 1px solid blue;
  width: 200px;
  height: 200px;
  float: left;
  box-sizing: border-box;
}